@import "tailwindcss";

@layer base{
  body{
    @apply font-primary bg-primary text-white leading-loose;
  }
  .h1{
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2{
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3{
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
  .text-outline{
    -webkit-text-stroke: 1px #ffffff;
  }
  .text-outline-hover{
    -webkit-text-stroke: 1px #00ff99;
  }
}

/* Tailwind v4 Custom Configuration */
@theme {
  --color-primary: #1c1c22;
  --color-accent: #00ff99;
  --color-accent-hover: #00e187;

  --font-primary: 'jetbrains mono', monospace;

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from { height: "0"; }
  to { height: "var(--radix-accordion-content-height)"; }
}
@keyframes accordion-up {
  from { height: "var(--radix-accordion-content-height)"; }
  to { height: "0"; }
}